/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header & Main Navigation
--------------------------------------------------------------*/
header.site {
	background-color: transparent;
}
.branding {
    .logo {
        width: 115px;
        margin-top: 20px;
        margin-bottom: 20px;
	}	
}



nav.main {
    float: right;
    margin-top: 25px;
    background-color: transparent;
    ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
    }
    li {
        display: inline-block;
        a {
	        color: white;
	        font-weight: 100;
	        letter-spacing: 1px;
	        text-transform: uppercase;
	        text-decoration: none;
            transition: all 0.3s ease-in-out;
        }
        + li a {
	        margin-left: 20px;
        }
    }
}

/*--------------------------------------------------------------
# Section: Hero
--------------------------------------------------------------*/
.hero {
	position: relative;
	padding-bottom: 110px;
	text-align: left;
	background-color: transparent;	
	.intro {
		color: white;
		
		> p {
			margin-bottom: 35px;
			font-size: $font-lg;
		}
	}
	
}

/*--------------------------------------------------------------
# Section: Subnav
--------------------------------------------------------------*/
.subnav-wrapper {
    height: 65px;
    overflow: inherit;
    background-color: white;
    overflow: hidden;
}
.subnav {
	width: 100%;
	background-color: white;
	border-bottom: 1px solid $border;
	ul {
		margin: 0;
		padding: 0;
	}
	ul.flex {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		@media (max-width: $screen-sm) {
			flex-direction: column; //stack
		}
		li {
		    min-width: inherit;
		}
		li a {
			display: block;
			padding: 20px 0;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			color: $grey;
			&.active {
				color: $primary;
			}
		}
	}
}
.subnav.fixed {
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    box-shadow: 0px 1px 3px 0px rgba(black, 0.2);
    transition: all 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Section: About
--------------------------------------------------------------*/
.about,
.section-2 {
	height: 1200px;
}



